//fonts
$font: "Lato", sans-serif;

//colors
$color-1: #f2f2f2;
$color-2: #cb2901;
$color-3: #f2a2a2;
$color-4: #ffe9b7;
$color-5: #212529;
$color-6: #f57d7a;

//media querys
$small: 900px;
$medium: 1400px;

//border-radius
$border-radius: 15px;

.background-full {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  background: rgb(255 255 255 / 40%);
}
body {
  font: 100% $font;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  min-width: 320px;
  margin: 0;

  header {
    flex-direction: column;
    align-items: center;
    z-index: 3;
    width: 7.5rem;
    height: 100vh;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    position: fixed;
    background-color: $color-4;
    color: $color-5;
    margin: 0;
    padding: 0;

    #header {
      height: 100vh;
      display: flex;
      #nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo {
          align-self: center;
          color: $color-2;
          font-size: 66px;
          text-shadow: 2px 2px $color-3;
          margin: 15px;
        }
        ul {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          padding: 0;
          margin: 0;
          li {
            list-style-type: none;
            padding: 15px;

            a {
              text-decoration: none;
              color: $color-2;
              display: inline-block;
              font-size: 24px;
            }

            a:hover {
              color: $color-2;
            }

            a::after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: $color-2;
              transition: width 0.3s ease;
            }

            a:hover::after {
              width: 80%;
            }
          }
        }
      }
      .social {
        display: flex;
        flex-direction: column;
        a {
          color: $color-2;
          font-size: 24px;
          padding: 8px 15px;
          text-align: center;
        }
        a:hover {
          color: $color-3;
        }
      }
    }
  }
  main {
    padding: 0 3rem 0 10rem;
    .bio-snippet {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .snippet {
        color: $color-2;
        margin: 0;
        padding: 0;
        text-align: center;
        // line-height: ;
      }

      .contact-btn {
        background-color: $color-4;
        color: $color-2;
        text-decoration: none;
        padding: 15px 20px;
        font-size: 20px;
        margin-top: 30px;
        transition: transform 0.6s;

        &:hover {
          transform: translateY(-15px);
        }
      }

      .scroll-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color-6;
        align-self: center;
      }
    }
    .section-heading {
      display: flex;
      margin-bottom: 2rem;

      h3 {
        font-size: 30px;
        color: black;
        margin: 20px 0 0 0;
        font-weight: 400;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          bottom: -4px;
          left: 0;
          right: 0;
          width: 80%;
          background: $color-2;
        }
      }
    }
    #my-work {
      #project-gallery {
        display: flex;
        justify-content: space-between;

        .project {
          border-radius: $border-radius;
          // box-shadow: 1px 1px 5px #e1e0e0;
          box-shadow: 1px 1px 6px #979797;

          &:hover {
            .arrow-btn {
              transform: translateY(-15px);
            }
          }

          .project-a {
            text-decoration: none;

            .img {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              height: 100%;
              border-radius: $border-radius;

              .background {
                background-color: rgba(219, 219, 219, 86%);
                border-radius: $border-radius;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                .project-details {
                  padding: 20px;

                  .project-title {
                    color: $color-5;
                    font-size: 28px;
                    font-weight: 400;
                    margin: 0;
                  }
                  .project-description {
                    color: $color-5;
                    margin: 0 0 5px 0;
                    font-size: 18px;
                    font-weight: 400;
                  }
                }

                .arrow-btn {
                  align-self: flex-end;
                  padding: 20px;
                  transition: transform 0.5s;

                  i {
                    font-size: 22px;
                    background-color: $color-2;
                    color: $color-4;
                    border-radius: 100%;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(40deg);
                    box-shadow: 1px 1px 3px #978c8a;
                  }
                }
              }
            }
          }
        }
      }
    }
    #contact {
      margin-bottom: 120px;
      margin-top: 20px;
      .col-5 {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: $small) {
  body {
    header {
      display: flex;
    }
    main {
      padding: 0 3rem 0 10rem;
    }
  }
  .bio-snippet {
    height: 100vh;
    .snippet {
      font-size: 60px;
      line-height: 70px;
    }
  }
  #mobile-nav {
    display: none;
  }
  #mobile-nav-btn {
    display: none;
  }
  #project-gallery {
    margin-bottom: 40px;
  }
  .project {
    width: 28%;
    height: 230px;
  }
  .row {
    display: flex;
    // height: 550px;
  }
  .col-5 {
    width: 50%;
  }
  .about-bio {
    font-size: 20px;
  }
  .picture-bubbles {
    margin-left: 95px;
  }
  .about-snippet {
    margin-right: 25px;
  }
  .profile-pic {
    background-image: url(./images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 70px 0 0 0;
  }
  .biking {
    background-image: url(./images/mtnbiking.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    position: absolute;
    margin: -60px 0 0 260px;
    z-index: -2;
  }
  .skiing {
    background-image: url(./images/skiing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    margin: -340px 0 0 300px;
  }

  /* flower 2 */
  .petal-2 {
    margin: -34px 1239px;
    width: 280px;
    height: 100px;
    background: $color-3;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-2:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-3;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-2:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-3;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-2 {
    margin: -59px 1342px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: $color-4;
    border-radius: 50px;
  }

  /* flower 3 */
  .petal-3 {
    margin: 150px 600px;
    width: 280px;
    height: 100px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-3:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-3:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-3 {
    margin: -235px 705px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: $color-2;
    border-radius: 50px;
  }

  /* flower 4 */
  .petal-4 {
    margin: 450px 1550px;
    width: 280px;
    height: 100px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-4:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-4:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-4 {
    margin: -535px 1655px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: $color-3;
    border-radius: 50px;
  }

  /* flower 5 */
  .petal-5 {
    margin: 740px 1000px;
    width: 280px;
    height: 100px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-5:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-5:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-5 {
    margin: -830px 1105px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: $color-3;
    border-radius: 50px;
  }
  /* flowers */
  /* flower 1 */
  .flower {
    z-index: -3;
    position: absolute;
  }
  .petal-1 {
    margin: -20px 40px;
    width: 280px;
    height: 100px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-1:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-1:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-1 {
    margin: -110px 139px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: $color-4;
    border-radius: 50px;
  }

  /* flower 6 */
  .petal-6 {
    margin: 600px 200px;
    width: 280px;
    height: 100px;
    background: $color-6;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-6:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-6;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-6:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: $color-6;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-6 {
    margin: -680px 306px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: $color-1;
    border-radius: 50px;
  }
}

@media screen and (max-width: $medium) {
  .about-snippet {
    display: flex;
    flex-direction: column;
  }
  .profile-pic-mobile {
    background-image: url(./images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
  }
  .profile-pic {
    display: none;
  }
  .biking {
    display: none;
  }
  .skiing {
    display: none;
  }
}

@media screen and (max-width: $small) {
  body {
    header {
      display: none;
    }
    main {
      padding: 0 2rem;
      background-image: url('./images/Screen\ Shot\ 2022-07-16\ at\ 11.03.35\ PM.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .hide {
      display: none;
    }
    .bio-snippet {
      height: 50vh;
    }
    #mobile-nav-btn {
      display: flex;
      justify-content: flex-end;
      padding: 20px 0 0 0;
      position: sticky;
      top: 0;
      margin-right: -10px;
      z-index: 4;

      &:hover {
        cursor: pointer;
      }
      i {
        font-size: 28px;
        background-color: $color-4;
        padding: 15px;
        color: $color-2;
      }
    }

    #mobile-nav-close {
      display: flex;
      justify-content: flex-end;
      padding: 28px 2.5rem 0 0;
      &:hover {
        cursor: pointer;
      }
      i {
        font-size: 32px;
        color: $color-2;
      }
    }

    #mobile-nav {
      height: 100%;
      position: fixed;
      width: 100%;
      background-color: $color-4;
      z-index: 5;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          padding: 15px;

          a {
            text-decoration: none;
            color: $color-2;
            display: inline-block;
            font-size: 30px;
          }

          a:hover {
            color: $color-2;
          }

          a::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: $color-2;
            transition: width 0.3s ease;
          }

          a:hover::after {
            width: 80%;
          }
        }
      }
      .social {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        a {
          color: $color-2;
          font-size: 38px;
          padding: 8px 15px;
          text-align: center;
        }
        a:hover {
          color: $color-3;
        }
      }
    }
  }
  #project-gallery {
    flex-direction: column;
    align-items: center;

    .project {
      width: 100%;
      height: 250px;
      margin: 0 0 30px 0;
    }
  }

  #about {
    .row {
      display: flex;
      flex-direction: column;
    }
    .col-5 {
      width: 50%;
    }
    .about-bio {
      font-size: 20px;
      margin: 20px 0 0 0;
    }
  }
  .small-flower {
    z-index: -3;
    position: absolute;
  }
  /* small flower 1 */
  .small-petal-1 {
    margin: 50px 20px;
    width: 140px;
    height: 50px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-petal-1:before {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .small-petal-1:after {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: $color-2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-middle-1 {
    margin: -93px 75px;
    position: absolute;
    width: 30px;
    height: 30px;
    background: $color-4;
    border-radius: 50px;
  }
  /* small flower 2 */
  .small-petal-2 {
    margin: 432px 210px;
    width: 140px;
    height: 50px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-petal-2:before {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .small-petal-2:after {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: $color-4;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-middle-2 {
    margin: -474px 265px;
    position: absolute;
    width: 30px;
    height: 30px;
    background: $color-2;
    border-radius: 50px;
  }
}
