.background-full {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  background: rgba(255, 255, 255, 0.4);
}

body {
  font: 100% "Lato", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  min-width: 320px;
  margin: 0;
}
body header {
  flex-direction: column;
  align-items: center;
  z-index: 3;
  width: 7.5rem;
  height: 100vh;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  position: fixed;
  background-color: #ffe9b7;
  color: #212529;
  margin: 0;
  padding: 0;
}
body header #header {
  height: 100vh;
  display: flex;
}
body header #header #nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body header #header #nav .logo {
  align-self: center;
  color: #cb2901;
  font-size: 66px;
  text-shadow: 2px 2px #f2a2a2;
  margin: 15px;
}
body header #header #nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
body header #header #nav ul li {
  list-style-type: none;
  padding: 15px;
}
body header #header #nav ul li a {
  text-decoration: none;
  color: #cb2901;
  display: inline-block;
  font-size: 24px;
}
body header #header #nav ul li a:hover {
  color: #cb2901;
}
body header #header #nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #cb2901;
  transition: width 0.3s ease;
}
body header #header #nav ul li a:hover::after {
  width: 80%;
}
body header #header .social {
  display: flex;
  flex-direction: column;
}
body header #header .social a {
  color: #cb2901;
  font-size: 24px;
  padding: 8px 15px;
  text-align: center;
}
body header #header .social a:hover {
  color: #f2a2a2;
}
body main {
  padding: 0 3rem 0 10rem;
}
body main .bio-snippet {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .bio-snippet .snippet {
  color: #cb2901;
  margin: 0;
  padding: 0;
  text-align: center;
}
body main .bio-snippet .contact-btn {
  background-color: #ffe9b7;
  color: #cb2901;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 20px;
  margin-top: 30px;
  transition: transform 0.6s;
}
body main .bio-snippet .contact-btn:hover {
  transform: translateY(-15px);
}
body main .bio-snippet .scroll-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f57d7a;
  align-self: center;
}
body main .section-heading {
  display: flex;
  margin-bottom: 2rem;
}
body main .section-heading h3 {
  font-size: 30px;
  color: black;
  margin: 20px 0 0 0;
  font-weight: 400;
  position: relative;
}
body main .section-heading h3::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 80%;
  background: #cb2901;
}
body main #my-work #project-gallery {
  display: flex;
  justify-content: space-between;
}
body main #my-work #project-gallery .project {
  border-radius: 15px;
  box-shadow: 1px 1px 6px #979797;
}
body main #my-work #project-gallery .project:hover .arrow-btn {
  transform: translateY(-15px);
}
body main #my-work #project-gallery .project .project-a {
  text-decoration: none;
}
body main #my-work #project-gallery .project .project-a .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 15px;
}
body main #my-work #project-gallery .project .project-a .img .background {
  background-color: rgba(219, 219, 219, 0.86);
  border-radius: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
body main #my-work #project-gallery .project .project-a .img .background .project-details {
  padding: 20px;
}
body main #my-work #project-gallery .project .project-a .img .background .project-details .project-title {
  color: #212529;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
body main #my-work #project-gallery .project .project-a .img .background .project-details .project-description {
  color: #212529;
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 400;
}
body main #my-work #project-gallery .project .project-a .img .background .arrow-btn {
  align-self: flex-end;
  padding: 20px;
  transition: transform 0.5s;
}
body main #my-work #project-gallery .project .project-a .img .background .arrow-btn i {
  font-size: 22px;
  background-color: #cb2901;
  color: #ffe9b7;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(40deg);
  box-shadow: 1px 1px 3px #978c8a;
}
body main #contact {
  margin-bottom: 120px;
  margin-top: 20px;
}
body main #contact .col-5 {
  width: 50%;
}

@media screen and (min-width: 900px) {
  body header {
    display: flex;
  }
  body main {
    padding: 0 3rem 0 10rem;
  }

  .bio-snippet {
    height: 100vh;
  }
  .bio-snippet .snippet {
    font-size: 60px;
    line-height: 70px;
  }

  #mobile-nav {
    display: none;
  }

  #mobile-nav-btn {
    display: none;
  }

  #project-gallery {
    margin-bottom: 40px;
  }

  .project {
    width: 28%;
    height: 230px;
  }

  .row {
    display: flex;
  }

  .col-5 {
    width: 50%;
  }

  .about-bio {
    font-size: 20px;
  }

  .picture-bubbles {
    margin-left: 95px;
  }

  .about-snippet {
    margin-right: 25px;
  }

  .profile-pic {
    background-image: url(./images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 70px 0 0 0;
  }

  .biking {
    background-image: url(./images/mtnbiking.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    position: absolute;
    margin: -60px 0 0 260px;
    z-index: -2;
  }

  .skiing {
    background-image: url(./images/skiing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    margin: -340px 0 0 300px;
  }

  /* flower 2 */
  .petal-2 {
    margin: -34px 1239px;
    width: 280px;
    height: 100px;
    background: #f2a2a2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-2:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #f2a2a2;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-2:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #f2a2a2;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-2 {
    margin: -59px 1342px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: #ffe9b7;
    border-radius: 50px;
  }

  /* flower 3 */
  .petal-3 {
    margin: 150px 600px;
    width: 280px;
    height: 100px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-3:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-3:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-3 {
    margin: -235px 705px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: #cb2901;
    border-radius: 50px;
  }

  /* flower 4 */
  .petal-4 {
    margin: 450px 1550px;
    width: 280px;
    height: 100px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-4:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-4:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-4 {
    margin: -535px 1655px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: #f2a2a2;
    border-radius: 50px;
  }

  /* flower 5 */
  .petal-5 {
    margin: 740px 1000px;
    width: 280px;
    height: 100px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-5:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-5:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-5 {
    margin: -830px 1105px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: #f2a2a2;
    border-radius: 50px;
  }

  /* flowers */
  /* flower 1 */
  .flower {
    z-index: -3;
    position: absolute;
  }

  .petal-1 {
    margin: -20px 40px;
    width: 280px;
    height: 100px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-1:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-1:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-1 {
    margin: -110px 139px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: #ffe9b7;
    border-radius: 50px;
  }

  /* flower 6 */
  .petal-6 {
    margin: 600px 200px;
    width: 280px;
    height: 100px;
    background: #f57d7a;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .petal-6:before {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #f57d7a;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .petal-6:after {
    position: absolute;
    content: "";
    width: 280px;
    height: 100px;
    background: #f57d7a;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .middle-6 {
    margin: -680px 306px;
    position: absolute;
    width: 70px;
    height: 70px;
    background: #f2f2f2;
    border-radius: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .about-snippet {
    display: flex;
    flex-direction: column;
  }

  .profile-pic-mobile {
    background-image: url(./images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-self: center;
  }

  .profile-pic {
    display: none;
  }

  .biking {
    display: none;
  }

  .skiing {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  body header {
    display: none;
  }
  body main {
    padding: 0 2rem;
    background-image: url("./images/Screen Shot 2022-07-16 at 11.03.35 PM.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  body .hide {
    display: none;
  }
  body .bio-snippet {
    height: 50vh;
  }
  body #mobile-nav-btn {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0 0;
    position: sticky;
    top: 0;
    margin-right: -10px;
    z-index: 4;
  }
  body #mobile-nav-btn:hover {
    cursor: pointer;
  }
  body #mobile-nav-btn i {
    font-size: 28px;
    background-color: #ffe9b7;
    padding: 15px;
    color: #cb2901;
  }
  body #mobile-nav-close {
    display: flex;
    justify-content: flex-end;
    padding: 28px 2.5rem 0 0;
  }
  body #mobile-nav-close:hover {
    cursor: pointer;
  }
  body #mobile-nav-close i {
    font-size: 32px;
    color: #cb2901;
  }
  body #mobile-nav {
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #ffe9b7;
    z-index: 5;
  }
  body #mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  body #mobile-nav ul li {
    list-style-type: none;
    padding: 15px;
  }
  body #mobile-nav ul li a {
    text-decoration: none;
    color: #cb2901;
    display: inline-block;
    font-size: 30px;
  }
  body #mobile-nav ul li a:hover {
    color: #cb2901;
  }
  body #mobile-nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #cb2901;
    transition: width 0.3s ease;
  }
  body #mobile-nav ul li a:hover::after {
    width: 80%;
  }
  body #mobile-nav .social {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  body #mobile-nav .social a {
    color: #cb2901;
    font-size: 38px;
    padding: 8px 15px;
    text-align: center;
  }
  body #mobile-nav .social a:hover {
    color: #f2a2a2;
  }

  #project-gallery {
    flex-direction: column;
    align-items: center;
  }
  #project-gallery .project {
    width: 100%;
    height: 250px;
    margin: 0 0 30px 0;
  }

  #about .row {
    display: flex;
    flex-direction: column;
  }
  #about .col-5 {
    width: 50%;
  }
  #about .about-bio {
    font-size: 20px;
    margin: 20px 0 0 0;
  }

  .small-flower {
    z-index: -3;
    position: absolute;
  }

  /* small flower 1 */
  .small-petal-1 {
    margin: 50px 20px;
    width: 140px;
    height: 50px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-petal-1:before {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .small-petal-1:after {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: #cb2901;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-middle-1 {
    margin: -93px 75px;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffe9b7;
    border-radius: 50px;
  }

  /* small flower 2 */
  .small-petal-2 {
    margin: 432px 210px;
    width: 140px;
    height: 50px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-petal-2:before {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(-60deg);
  }

  .small-petal-2:after {
    position: absolute;
    content: "";
    width: 140px;
    height: 50px;
    background: #ffe9b7;
    border-radius: 50px;
    transform: rotate(60deg);
  }

  .small-middle-2 {
    margin: -474px 265px;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #cb2901;
    border-radius: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
